<header>
  <div class="navbar">
    <a class="navbar-brand" routerLink="/dashboard">Merijn's Blog Project</a>

    <div class="navbar-links">
      <ng-container *ngIf="currentUser; else loginLinks">
        <span>Welcome, {{ currentUser.email }}</span>
        <a (click)="logout()">Logout</a>
      </ng-container> <a routerLink="/dashboard">Back to dashboard</a>
      <ng-template #loginLinks>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </ng-template>
    </div>
  </div>
</header>
<main>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>